In [9]:
import pandas as pd
import sqlite3

In [10]:
conn = sqlite3.connect('D:/movies.sqlite')

In [11]:
cursor = conn.cursor()

In [12]:
# query = """
# SELECT t.twiter_id ,
# t.unix_time ,
# t.tweet ,
# t.imdb_links 
# FROM tweets t 
# WHERE imdb_links LIKE "%title/tt%"
# """

query = """
SELECT *
FROM dummy1
"""

In [13]:
import re

def extract_movie_id(df, imdb_links_col):
    df['movie_id'] = -1
    for index, row in df.iterrows():
        imdb_link = row[imdb_links_col]
        if not isinstance(imdb_link, str):
            continue
        pattern = '.*?/tt([0-9]*)/*$' 
        p = re.compile(pattern, re.M | re.I)
        matches = p.findall(imdb_link)
        if len(matches) > 0:
            df.at[index, 'movie_id'] = matches[0]
    return df

In [14]:
df = pd.read_sql(query, conn)
df

,twiter_id,unix_time,tweet,r_url
0,501285612,1638117369.0,I rated Arcane: League of Legends (2021) 9/10 ...,https://www.imdb.com/title/tt11126994
1,2346718712,1636430122.0,I rated The Harder They Fall (2021) 8/10 #IMDb...,https://www.imdb.com/title/tt10696784
2,1175541274646077440,1636429422.0,I rated Noragami: Revival (S2.E11) 9/10 #IMDb ...,https://www.imdb.com/title/tt5266652
3,391417870,1636429208.0,I rated FC Bayern - Behind the Legend (2021) 1...,https://www.imdb.com/title/tt14010212
4,457819149,1636429138.0,I rated My Name (2021) season one 7/10 #IMDb h...,https://www.imdb.com/title/tt12940504/
...,...,...,...,...
1034619,163769905,1319778909.0,I rated New Moon 8/10 http://t.co/IeSzYCAJ #IMDb,https://www.imdb.com/title/tt1259571
1034620,163769905,1319778870.0,I rated Twilight 6/10 http://t.co/VZf9EhGx #IMDb,https://www.imdb.com/title/tt1099212
1034621,63705093,1319776650.0,I rated 12 Angry Men 10/10 http://t.co/FqENQYK...,https://www.imdb.com/title/tt0050083
1034622,63203527,1319774965.0,I rated American Horror Story 8/10 http://t.co...,https://www.imdb.com/title/tt1844624
1034623,11293032,1309500902.0,@TheHeatherMarie I don't think I've ever seen ...,https://www.imdb.com/rg/s/1/title/tt0329200/

In [15]:
df1 = df

In [16]:
df1.head()

,twiter_id,unix_time,tweet,r_url
0,501285612,1638117369.0,I rated Arcane: League of Legends (2021) 9/10 ...,https://www.imdb.com/title/tt11126994
1,2346718712,1636430122.0,I rated The Harder They Fall (2021) 8/10 #IMDb...,https://www.imdb.com/title/tt10696784
2,1175541274646077440,1636429422.0,I rated Noragami: Revival (S2.E11) 9/10 #IMDb ...,https://www.imdb.com/title/tt5266652
3,391417870,1636429208.0,I rated FC Bayern - Behind the Legend (2021) 1...,https://www.imdb.com/title/tt14010212
4,457819149,1636429138.0,I rated My Name (2021) season one 7/10 #IMDb h...,https://www.imdb.com/title/tt12940504/

In [17]:
df1 = extract_movie_id(df1, 'r_url')

In [18]:
df1

,twiter_id,unix_time,tweet,r_url,movie_id
0,501285612,1638117369.0,I rated Arcane: League of Legends (2021) 9/10 ...,https://www.imdb.com/title/tt11126994,11126994
1,2346718712,1636430122.0,I rated The Harder They Fall (2021) 8/10 #IMDb...,https://www.imdb.com/title/tt10696784,10696784
2,1175541274646077440,1636429422.0,I rated Noragami: Revival (S2.E11) 9/10 #IMDb ...,https://www.imdb.com/title/tt5266652,5266652
3,391417870,1636429208.0,I rated FC Bayern - Behind the Legend (2021) 1...,https://www.imdb.com/title/tt14010212,14010212
4,457819149,1636429138.0,I rated My Name (2021) season one 7/10 #IMDb h...,https://www.imdb.com/title/tt12940504/,12940504
...,...,...,...,...,...
1034619,163769905,1319778909.0,I rated New Moon 8/10 http://t.co/IeSzYCAJ #IMDb,https://www.imdb.com/title/tt1259571,1259571
1034620,163769905,1319778870.0,I rated Twilight 6/10 http://t.co/VZf9EhGx #IMDb,https://www.imdb.com/title/tt1099212,1099212
1034621,63705093,1319776650.0,I rated 12 Angry Men 10/10 http://t.co/FqENQYK...,https://www.imdb.com/title/tt0050083,0050083
1034622,63203527,1319774965.0,I rated American Horror Story 8/10 http://t.co...,https://www.imdb.com/title/tt1844624,1844624
1034623,11293032,1309500902.0,@TheHeatherMarie I don't think I've ever seen ...,https://www.imdb.com/rg/s/1/title/tt0329200/,0329200

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034624 entries, 0 to 1034623
Data columns (total 5 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   twiter_id  1034624 non-null  object
 1   unix_time  1034624 non-null  object
 2   tweet      1034624 non-null  object
 3   r_url      1034624 non-null  object
 4   movie_id   1034624 non-null  object
dtypes: object(5)
memory usage: 39.5+ MB

In [20]:
df1['movie_id'] = df1['movie_id'].astype(int)

In [21]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1034624 entries, 0 to 1034623
Data columns (total 5 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   twiter_id  1034624 non-null  object
 1   unix_time  1034624 non-null  object
 2   tweet      1034624 non-null  object
 3   r_url      1034624 non-null  object
 4   movie_id   1034624 non-null  int32
dtypes: int32(1), object(4)
memory usage: 35.5+ MB

In [22]:
import re

def extract_rating(df, tweet_col):
    df['rating'] = ""
    for index, row in df.iterrows():
        tweet = row[tweet_col]
        pattern = r'(\d+.\d+|\d+)/(\d{1,2})'
        p = re.compile(pattern, re.M | re.I)
        matches = p.findall(tweet)
        if len(matches) > 0:
            df.at[index, 'rating'] = matches[0][0] + '/' + matches[0][1]
    return df

df1 = extract_rating(df1, 'tweet')

df1

,twiter_id,unix_time,tweet,r_url,movie_id,rating
0,501285612,1638117369.0,I rated Arcane: League of Legends (2021) 9/10 ...,https://www.imdb.com/title/tt11126994,11126994,9/10
1,2346718712,1636430122.0,I rated The Harder They Fall (2021) 8/10 #IMDb...,https://www.imdb.com/title/tt10696784,10696784,8/10
2,1175541274646077440,1636429422.0,I rated Noragami: Revival (S2.E11) 9/10 #IMDb ...,https://www.imdb.com/title/tt5266652,5266652,9/10
3,391417870,1636429208.0,I rated FC Bayern - Behind the Legend (2021) 1...,https://www.imdb.com/title/tt14010212,14010212,10/10
4,457819149,1636429138.0,I rated My Name (2021) season one 7/10 #IMDb h...,https://www.imdb.com/title/tt12940504/,12940504,7/10
...,...,...,...,...,...,...
1034619,163769905,1319778909.0,I rated New Moon 8/10 http://t.co/IeSzYCAJ #IMDb,https://www.imdb.com/title/tt1259571,1259571,8/10
1034620,163769905,1319778870.0,I rated Twilight 6/10 http://t.co/VZf9EhGx #IMDb,https://www.imdb.com/title/tt1099212,1099212,6/10
1034621,63705093,1319776650.0,I rated 12 Angry Men 10/10 http://t.co/FqENQYK...,https://www.imdb.com/title/tt0050083,50083,10/10
1034622,63203527,1319774965.0,I rated American Horror Story 8/10 http://t.co...,https://www.imdb.com/title/tt1844624,1844624,8/10
1034623,11293032,1309500902.0,@TheHeatherMarie I don't think I've ever seen ...,https://www.imdb.com/rg/s/1/title/tt0329200/,329200,2/10

In [27]:
df1.to_sql('ratings', conn, if_exists ='append', index = False )

1034624